<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoInsuranceManagementSystem</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AutoInsuranceManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom header-colour {
    background-color: black;
}">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a asp-area="Agent" asp-controller="Home" asp-action="Index" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a asp-area="Agent" asp-controller="Home" asp-action="AssignedPolicies" class="nav-link px-2">Assigned Policies</a></li>
            <li><a asp-area="Agent" asp-controller="Home" asp-action="AssignedClaims" class="nav-link px-2">Assigned Claims</a></li>
            <li><a asp-area="Agent" asp-controller="Home" asp-action="AllPaymentsHistory" class="nav-link px-2">Payments</a></li>
            <li><a asp-area="Agent" asp-controller="Home" asp-action="AssignedTickets" class="nav-link px-2">Support</a></li>
            <li><a asp-area="Agent" asp-controller="Home" asp-action="Profile" class="nav-link px-2">Profile</a></li>
        </ul>


        @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
        {
            <div class="col-md-3 text-end">
                <p class="text-white">Welcome @User.Identity.Name</p>
                <a asp-area="" asp-controller="Authentication" asp-action="Logout" class="btn btn-outline-light me-2">Logout</a>
            </div>
        }
        else
        {
            <div class="col-md-3 text-end">
                <a asp-area="" asp-controller="Authentication" asp-action="Login" class="btn btn-outline-primary me-2">Login</a>
                <a asp-area="" asp-controller="Authentication" asp-action="Register" class="btn btn-primary">Sign-up</a>
            </div>
        }
        @* <div class="col-md-3 text-end"> *@
        @*     <button type="button" class="btn btn-outline-primary me-2">Login</button> *@
        @*     <button type="button" class="btn btn-primary">Sign-up</button> *@
        @* </div> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - AutoInsuranceManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
