<h4>Policy created Successfully. please pay the premium amount in payment section</h4>
<a asp-controller="Customer" asp-action="ManagePayments" class="btn bg-primary-subtle">Click here to Make Payment</a>